.dg.ac {
  z-index: 999999 !important;
}
.positionable {
  position: absolute;
  background: #000;
}
audio {
  width: 320px;
  height: 240px;
  position: absolute;
}
#joystickZone {
  position: fixed;
  width: 35vmin;
  height: 35vmin;
  left: 10vmin;
  bottom: 10vmin;
  z-index: 1000;
}

.joystick {
  color: #0fdf7f88;
  background-color: #0fdf7f88;
  border-radius: 100%;
  cursor: pointer;
  height: 100%;
  user-select: none;
  width: 100%;
}
.fixedDiv {
  background-color: #343434f0;
  position: fixed;
  /*text-align: right;*/
  right: 0;
  top: 0;
  z-index: 1000;
  font-size: 6vh;
  width: 100vw;
  height: 100vh;
}
.fixedDiv button {
  font-size: 4vh;
  margin: 2vh;
}

iframe {
  border-width: 2vmin;
}
